In [1]:
# import necessary packages
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
counties_df = pd.read_csv("counties.csv", delimiter=";")
counties_df.head()

            State Abbreviation Postal\ncode
0         Alabama         Ala.           AL
1          Alaska       Alaska           AK
2  American Samoa                        AS
3         Arizona        Ariz.           AZ
4        Arkansas         Ark.           AR

In [3]:
counties_df.columns = ["state", "abbreviation", "postal"]
counties_df.head()

            state abbreviation postal
0         Alabama         Ala.     AL
1          Alaska       Alaska     AK
2  American Samoa                  AS
3         Arizona        Ariz.     AZ
4        Arkansas         Ark.     AR

In [4]:
counties_df.shape

(59, 3)

In [5]:
counties_df.dtypes

state           object
abbreviation    object
postal          object
dtype: object

In [6]:
counties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         59 non-null     object
 1   abbreviation  59 non-null     object
 2   postal        59 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB

In [7]:
counties_df.postal.unique()

array(['AL', 'AK', 'AS', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL',
       'GA', 'GU', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME',
       'MD', 'MH', 'MA', 'MI', 'FM', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV',
       'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'MP', 'OH', 'OK', 'OR', 'PW',
       'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'VI',
       'WA', 'WV', 'WI', 'WY'], dtype=object)